* {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 200;
}

html, body {
    background-color: #F2F6F9;
}

html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.header img, .footer img {
    width: 100%;
    display:none;
}

#scuba {
    position: absolute;
    height: 800px;
    top: 100px;
    left: 450px;
}

#startMenuWrapper {
    z-index: 2;
    font-family: 'Helvetica Neue';
    color: #666666;
    width: 100%;
}

#startMenu {
    position: relative;
    margin: 160px auto;
    width: 434px;
    padding: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#gameAreaWrapper {
    display: none;
    position: relative;
    height: 900px;
}

.orange {
    padding-top: 20px;
    font-size: 116px;
    font-weight: bold;
    text-align: center;
    color: #fc8d59;
}

.lost {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.desc {
    padding: 20px 0;
}

.info {
    padding: 6px 0;
}

#startButton {
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: large;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2cace3;
    border: 0;
    border-bottom: 2px solid #188dbf;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #188dbf;
    box-shadow: inset 0 -2px #188dbf;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

#startButton:active, #startButton:hover {
    top: 1px;
    background: #61C1EA;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#status {
    position: absolute;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    font-size: 16px;
    top: 10px;
    right: 10px;
    font-weight: bold;
    text-align: center;
}

#status .title {
    font-size: 25px;
    font-weight: bold;
}

#status .me {
    color: #FF8888;
    font-size: 16px;
}

#hiddenStatus {
    color: #FFF;
    font-size: 25px;
    position: absolute;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    top: 10px;
    right: 10px;
    font-weight: bold;
    text-align: center;
}

#playerNameInput {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

#playerNameInput:focus, #playerNameInput.focus {
    border: solid 1px #CCCCCC;
    box-shadow: 0 0 3px 1px #DDDDDD;
}

#startMenu h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#startMenu ul {
    margin: 10px;
    padding: 10px;
    margin-top: 0;
}

@media only screen  and (min-width : 1224px) {
#mobile {
display: none;
	}
}

@media only screen  and (max-width : 1224px) {
#chatbox {
display: none;
        }
}
